@use './base/reset';
@use './abtracts/mixins';
@use './abtracts/variables';
@import '~video-react/styles/scss/video-react';
@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
}
.video-react {
  //   padding-top: 0px !important;
  //   height: 100% !important;
}

input {
  &:disabled {
    cursor: none;
  }
}

@layer components {
  .cardx {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }
  /* ... */
}