@use '@styles/globalType/function' as function;
@use '@styles/abtracts/mixins' as mixin;
@use '@styles/globalType/internal' as internal;
@import './variables.scss';
.container {
  width: 100%;
  background: var(--color-background-primary);
  color: var(--color-text-primary);
  padding-right: $rightWidth;
}
